body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background: linear-gradient(to bottom right, #445, #678);
  color: white;
  padding: 20px;
}

section {
  display: none;
}

section.active {
  display: block;
}

input, select {
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

button {
  background: #28a745;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background: #218838;
}
